<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:appCategory="game"
        android:icon="@mipmap/app_icon"
        android:name="com.dbtechprojects.dailywrestlequiz.DailyWrestlingTrivia"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receiver to post midday reminder -->
        <receiver android:name="com.dbtechprojects.dailywrestlequiz.notifications.MiddayReminderReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.dbtechprojects.dailywrestlequiz.MIDDAY_ALARM" />
            </intent-filter>
        </receiver>

        <!-- Receiver to reschedule alarms after device boot -->
        <receiver android:name="com.dbtechprojects.dailywrestlequiz.notifications.BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
